@use './variables';

@mixin flex-center($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin transition($type, $duration) {
	transition: $type $duration ease-in-out;
}

@mixin font-hover {
	color: variables.$quinary-color;
	@include transition(color, 150ms);
}
