@use '../abstracts/mixings';
@use '../abstracts/variables';
.inputFile {
	margin-right: 4em;
	position: relative;
	background-color: variables.$secondary-color;
}

.imgInput {
	opacity: 0;
	padding: 10em 0;
	cursor: pointer;
}

.chooseImg {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;

	img {
		max-height: 15em;
		max-width: 15em;
	}
}
