@use '../abstracts/variables.scss';
@use '../abstracts//mixings';

.controllerContainer {
	@include mixings.flex-center(row);
	justify-content: center;
	position: fixed;
	bottom: 0;
	height: 9%;
	width: 100%;
	padding: 1em;
	z-index: 10;
	background-color: variables.$tertiary-color;

	.songInfoContainer {
		@include mixings.flex-center(row);
		position: absolute;
		left: 2em;

		.songCover {
			margin-right: 1em;
			height: 5em;
		}

		h4 {
			font-size: 1.2rem;
			margin: 0 0 0.5em;
		}

		p {
			margin: 0;
		}
	}

	/*=====================
		SONG LENGTH
	======================*/
	.songLength {
		margin: 0 0.5em;
		width: 35em;
		height: 0.5em;
		border-radius: 1rem;
		background-color: variables.$quinary-color;
	}

	/*================
		CONTROLS
	=================*/
	.controls {
		img {
			height: 2em;
			cursor: pointer;
			margin: 0 0.5em;
			@include mixings.transition(filter, 150ms);
			&:hover {
				filter: brightness(50%);
				@include mixings.transition(filter, 150ms);
			}
		}

		.playBtn {
			height: 4em;
		}

		.backBtn {
			transform: rotateY(180deg);
		}
	}
}
