@use '../abstracts/variables';
@use '../abstracts/mixings';

nav {
	@include mixings.flex-center(column);
	justify-content: unset;
	position: fixed;
	padding: 1em;
	height: 85%;
	background-color: variables.$secondary-color;
	color: variables.$primary-color;

	img {
		height: 2rem;
	}

	.linkContainers {
		@include mixings.flex-center(row);
		text-decoration: none;
		color: variables.$primary-color;
		font-size: 1.2rem;
		@include mixings.transition(color, 150ms);

		img {
			margin: 0 0.5em;
		}

		&:hover,
		&:focus {
			@include mixings.font-hover;
		}
	}

	/*============
       NAV LINKS
    ==============*/
	.userIcon {
		margin-bottom: 1.5em;
		height: 3rem;
	}

	.home {
		margin-bottom: 1.3em;
	}

	.yourLibrary {
		text-transform: uppercase;
		font-size: 0.8rem;
	}

	.likedSongs {
		margin-bottom: 1em;
	}

	/*============
       PLAYLISTS
    ==============*/
	.playlistContainer {
		overflow-y: auto;
		overflow-x: hidden;
		margin-bottom: 2em;
		@include mixings.flex-center(column);
		width: 180px;
	}

	.playlistsBtn {
		background-color: transparent;
		border: none;
		margin-bottom: 0.5em;
		.playlistsBtn:last-child {
			height: 1em;
		}
	}

	.playlists {
		overflow-y: auto;
		padding: 0 2em;
		@include mixings.flex-center(column);
		justify-content: unset;
		align-items: unset;
		opacity: 0;
		pointer-events: none;
		@include mixings.transition(all, 150ms);

		p {
			color: variables.$primary-color;
		}

		a {
			margin-bottom: 0.8em;
			padding: 0 0.8em;
			font-size: 1rem;
			color: variables.$quinary-color;
			text-decoration: none;
			@include mixings.transition(color, 150ms);

			&:hover {
				color: variables.$primary-color;
				@include mixings.transition(color, 150ms);
			}
		}
	}

	.playlistsActive {
		opacity: 1;
		pointer-events: all;
		@include mixings.transition(all, 150ms);
	}

	/*=================
       ACTIONS BTNS
    ===================*/
	.actionBtnsContainer {
		@include mixings.flex-center(column);
		button {
			margin-bottom: 1em;
			background-color: transparent;
			border: none;

			img {
				margin: 0;
			}
		}
	}
}

.activeLink {
	border-left: solid 0.2rem #ffe156;
	color: #fbfbff;
}
