@use './abstracts/variables';
@import "./components/column.scss";
@import "./components/row.scss";
@import "./components/button.scss";
@import "./components/background.scss";

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: variables.$primary-color;
	color: variables.$primary-color;
}

button {
	font-family: "Roboto", sans-serif;
	cursor: pointer;
}

h1 {
	margin: 0;
}
